* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:wght@400;500;600;700;800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
  color: #0a0a0a;
}
img{
  width: 100%;
  vertical-align: middle;
}
/* Button */
.btn-bg {
  background-color: #85af4b;
  color: #fff;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 12px;
}
.btn-bg:hover {
  background-color: #333;
  color: #fff;
}
.btn-border {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 8px 40px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 12px;
}
.btn-border:hover {
  background-color: #85af4b;
  border-color: #85af4b;
  color: #fff;
}
/* header css */
header {
  padding: 60px 0;
}
.navbar-nav .nav-link {
  color: rgba(0,0,0,0.6) !important;
  transition: .3s;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #2EA3F2 !important;;
}
.navbar-nav .nav-link:hover {
  color: #2EA3F2 !important;
}
/* section title css */
.section-title{
  padding: 70px 0;
  display: inline-block;
}
.title {
  padding: 70px 0;
}
.section-title h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 50px;
}

.section-title h2 {
  color: #111111;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 50px;
}
.bg-size{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* single-catagory */
.single-catagory{
  padding: 90px 0 50px;
  text-align: center;
}
.single-catagory h3 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-top: 80px;
}
.single-catagory a {
  display: inline-block;
  padding: 15px 50px;
  background-color: #e51d3b;
  color: #000;
  font-size: 22px;
  border-radius: 50px;
  margin-top: 60px;
  opacity: .85;
}

/* newest-content */
.newest-content{
  padding: 255px 0 65px;
  width: 100%;
  height: 100%;
  
}
.newest-content h4{
  font-size: 28px;
  
}
.newest-content a{
  margin-left: 150px;
}
.newest-info {
  left: 26%;
  top: 40%;
}
.newest-info a {
  font-size: 16px;
  letter-spacing: 8px;
  color: yellow;
  text-transform: capitalize;
  transition: .3s;
  display: block;
  margin-left: 0px !important;
}
.newest-content .newest-info a:hover {
  letter-spacing: 2px;
  color: #fff;
  
}
.newest-info2{
  left: 0%;
  top: 40%;
}
.discount {
  right: 0;
  top: 20%;
  left: 80%;
  width: 120px;
  height: 120px;
  line-height: 20px;
  background-color: tomato;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.discount p {
  margin-top: 20px;
}
.discount span {
  display: block;
  font-size: 34px;
  margin-top: 12px;
  font-weight: 600;
}
  /* single-feture */
.single-feture h4 {
  font-size: 15px;
  line-height: 15px;
  padding: 20px 0;
}

.single-feture span {
  color: #909090;
  line-height: 26px;
  padding: 5px 0;
}